{% extends "blog/base.html" %}
{% block content %}
<div class="container">
    <div class="header">
        <h1>About Me</h1>
    </div>
    <div class="intro column">
        <h2>Introduction</h2>
        <p>
            I’m a Computer Science Graduate with a keen aptitude for learning and developing
            innovative things. I have deep interest in Data Science/Analytics and Machine Learning and would like to
            evolve myself in these fields by handling really challenging problems that push me beyond my limits.
        </p>
    </div>
    <div class="skills column">
        <h3>My Skills</h3>
        <ul id="skill-list">
            <li>Web Development</li>
            <li>Data Science</li>
            <li>Quick Learner</li>
            <li>Analytical skills</li>
        </ul>
    </div>

</div>

<!--<div class="container">-->
<!--<h1 class="about"><strong>About me</strong></h1>-->

<!--<p id="about-para">A Computer Science graduate with an interest in programming, Machine Learning , and Data Science .</p>-->
<!--</div>-->
{% endblock %}
